@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

$colors: (
	"bg": #343434,
	"glass":#b5b5b5,
	"glass-border": #888888,
	"font":#ffffff,
	"shadow": #585858,
	"spotify": #1DB954,
	"ok": #00ff00,
	"err": #ff2020
);

$opacities: (
	"bg": 0.2,
	"border": 0.4,
	"hover": 0.3,
	"selected": 0.4,
);

$font-stack: "Roboto Mono", monospace;

$border: 1px solid rgba(map-get($colors, "glass-border"), map-get($opacities, "border"));

$border-radiuses: (
	"small": 10px,
	"medium": 25px,
	"large": 40px,
);

$element-heights: (
	"medium": 85px,
);



$blur: blur(12px);

body {
	display: inline;
}

main{
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	border: none;
	display: inline;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-stack;
}

/* width */
*::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background-color: transparent;
}

/* Track */
*::-webkit-scrollbar-track {
	box-shadow: none;
	color: transparent;
	background-color: transparent;
}

/* Handle */
*::-webkit-scrollbar-thumb {
	background: map-get($colors, "glass" );
	opacity: map-get($opacities, "bg" );
	border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
	opacity: map-get($opacities, "hover" );
}

body {


	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */

	background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.75) 100%);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

body::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: inherit;
	background-repeat: inherit;
	background-size: inherit;
	background-image: inherit;
	filter: blur(8px);
	-webkit-filter: blur(8px);
	z-index: -1;
}

.glass {
	box-sizing: border-box;
	background-color: rgba(map-get($colors, "glass"), map-get($opacities, "bg"));
	border: $border;
	backdrop-filter: $blur;
	-webkit-backdrop-filter: $blur;
	color: map-get($colors, "font");
}

.glass-element {
	@extend .glass;
	transition: all 0.2s ease-in-out;
}

.glass-element:hover {
	background-color: rgba(map-get($colors, "glass"), map-get($opacities, "hover"));
}

.glass-element:active {
	background-color: rgba(map-get($colors, "glass"), map-get($opacities, "selected"));
}

.glass-element_err {
	@extend .glass-element;
	border-color: rgba(map-get($colors, "err"), map-get($opacities, "border"));
	background-color: rgba(map-get($colors, "err"), map-get($opacities, "bg"));
}

.glass-element_err:hover {
	background-color: rgba(map-get($colors, "err"), map-get($opacities, "hover"));
}

.glass-element_err:active {
	background-color: rgba(map-get($colors, "err"), map-get($opacities, "selected"));
}

.glass-element_ok {
	@extend .glass-element;
	border-color: rgba(map-get($colors, "ok"), map-get($opacities, "border"));
	background-color: rgba(map-get($colors, "ok"), map-get($opacities, "bg"));
}

.glass-element_ok:hover {
	background-color: rgba(map-get($colors, "ok"), map-get($opacities, "hover"));
}

.glass-element_ok:active {
	background-color: rgba(map-get($colors, "ok"), map-get($opacities, "selected"));
}