@use '../defaults' as *;

.button {
	@extend .glass-element;
	border-radius: map-get($border-radiuses, "medium");
	height: map-get($element-heights, "medium");
	width: 250px;
	height: 85px;
	font-size: 40px;
}

