@use '../defaults' as *;
@use 'button';

.modal-wrapper {
	z-index: 99;
	position: fixed;
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

.modal{
	@extend .glass;
	z-index: 100;
	border-radius: map-get($border-radiuses, "medium");
	max-width: 600px;
	max-height: 350px;

	min-width: 500px;
	min-height: 200px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 10px;

	position: relative;

	>button{
		@extend .button;
		width: 100%;
	}
}