.scroll {
    white-space: nowrap;
    animation: scrollText 10s linear infinite;
    word-spacing: 3px;
}

@keyframes scrollText {
    0% {
        transform: translateX(0%);
    }

    40%,
    50% {
        transform: translateX(calc(-100% + 460px));
    }

    90%,
    100% {
        transform: translateX(0%);
    }

}