@use '../defaults' as *;
@use 'islands' as *;

.song-list {
    @extend .standard-island;
    gap: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    overflow: scroll;
    white-space: nowrap; // Ensure elements don't wrap
    flex-shrink: 0; // Prevent 

    >.song{
        flex-shrink: 0;
    }
}