@use '../defaults' as *;

.song {
    @extend .glass-element;

    height: 75px;
    width: 300px;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 28px 0px 5px;

    >.info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;

        >img {
            width: 65px;
            height: 65px;
            border-radius: 5px;
        }

        >.info-text {
            padding-left: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            align-items: start;
            width: 200px;
            mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 10px, rgba(0, 0, 0, 1) calc(100% - 75px), rgba(0, 0, 0, 0));



            >.title {
                font-weight: bold;
                font-size: 20px;
            }

            >.small-info {
                opacity: 0.5;

                display: flex;
                flex-direction: row;
                gap: 3px;

                font-size: 14px;
                line-height: 14px;
                font-weight: 550;

                >.artist-wrapper {
                    width: 70px;

                    white-space: nowrap;
                    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20px, rgba(0, 0, 0, 1) calc(100% - 20px), rgba(0, 0, 0, 0));

                    >.artist {
                        width: 70px;
                        height: 100%;
                        white-space: nowrap;
                        padding: 0;
                    }
                }


                >.bullet-point {
                    font-weight: 900;
                }

                >.song-duration {
                    letter-spacing: -0.5px;
                }

            }
        }
    }

    >.action {}

}