@use '../defaults' as *;

$icon-size: 60px;
$gap: 10px;

.user-bar {
    @extend .glass;
    display: flex;
    flex-direction: row;
    height: auto;
    width: calc(calc(100% - mod(100%, calc($icon-size + $gap))) + $gap);
    padding: $gap;
    gap: $gap;
    border-radius: 40px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; // Ensure elements don't wrap
    flex-shrink: 0; // Prevent shrinking
}

.user {
    height: $icon-size;
    width: $icon-size;
    border-radius: $icon-size / 2;
    overflow: hidden;
    flex-shrink: 0; // Prevent shrinking

    >* {
        width: $icon-size;
        height: $icon-size;
        border-radius: $icon-size/2;
    }

    >img {

        object-fit: cover;
        object-position: left;
        position: absolute;
    }

    >svg {
        fill:map-get($map: $colors, $key:"glass" );
        opacity: 0;
        background-color: #00000000;
        transition: background-color 0.2s, opacity 0.2s;
        position: absolute;
    }

    >svg:hover {
        opacity: 1;
        background-color: #00000042;
    }
}