@use '../defaults' as *;
@use '../components/components' as *;

.home-page {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 200px;
	height: 100%;
}

@media (max-width: 790px),
(orientation: portrait) {
	.home-page {
		flex-direction: column;
		row-gap: 100px;
		justify-content: start;
		padding-bottom: 120px;
	}
}

@media (min-width: 790px) and (orientation: landscape) {
	.home-page {
		justify-content: center;
	}
}
