@use '../defaults' as *;
@use '../components/components' as *;

#home-page {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 200px;
	height: 100%;
}

@media (max-width: 790px),
(orientation: portrait) {
	#home-page {
		flex-direction: column;
		row-gap: 100px;
		justify-content: start;
	}
}

@media (min-width: 790px) {
	#home-page {
		justify-content: center;
	}
}

#create-island {
	@extend .big-space-island;
	height: fit-content;
	justify-content: end;
}

.connect-spotify {
	@extend .button;
	font-size: 20px;
	padding: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

	>div {
		display: inline-block;
		width: 100px;
	}
	>svg{
		fill:rgba(map-get($colors, 'spotify'), 0.6);
		border: rgba(map-get($colors, 'spotify'), 0.9);
	}
}

#create-max-jammers::placeholder {
	font-size: 23px;
	line-height: normal;
}

#join-island {
	@extend .big-space-island;
	height: fit-content;
	justify-content: end;
}