@use '../defaults' as *;

.host-page {
    display: flex;
    padding: 30px;
    padding-top: 2px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    height: 100%;
  

    >.center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }
}

@media (max-width: 1200px),
(orientation: portrait) {
    .host-page {
        gap: 0px;
    }

    .host-page>.center{
        flex-direction: column;
        gap: 0px;
    }

    .host-page>.song-list {
        margin-bottom: calc(600px * 0.1);
    }
}

@media (min-width: 1200px) {
    .host-page {
        gap: 20px;
        justify-content: space-around;
    }

    .center {
        flex-direction: row;
        justify-content: space-around;
    }
}