@use '../defaults' as *;

.host-page {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    >.center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }
}