.user-page {
    display: flex;
    padding: 20px 65px;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    >.center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }
}

@media (max-width: 1200px),
(orientation: portrait) {
    .user-page {
        gap: 10px;
    }

    .center {
        flex-direction: column;
        gap: 10px;
    }
}

@media (min-width: 1200px) {
    .user-page {
        gap: 40px;
        padding: 10px;
    }

    .user-page>.center {
        flex-direction: row;
    }

    
}