.user-page {
    display: flex;
    padding: 20px 65px;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    >.center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }
}

@media (max-width: 1200px),
(orientation: portrait) {
    .user-page {
        gap: 0px;
    }

    .center {
        flex-direction: column;
        gap: 0px;
    }

    .user-page>.center>.search {
        margin-bottom: calc(600px * 0.1);
        margin-top: calc(600px * 0.1);
    }
}

@media (min-width: 1200px) {
    .user-page {
        gap: 40px;
    }

    .user-page>.center {
        flex-direction: row;
    }

    
}